<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body ng-controller="Ctrl">
    <h2> Calculator</h2>

    n1: <input type="number" ng-model="n1" placeholder="Enter a number 1"/> 

    Operator: 
    <select name="Operator" ng-model="operator">Operator :
        <option value="+">Plus (+) </option>
        <option value="-">Minus (-) </option>
        <option value="*">Mul (x) </option>
        <option value="/">Div (/ ) </option><br/>
    </select>

    n2: <input type="number" ng-model="n2" placeholder="Enter a number 2"/>  
  
    <button ng-click="res = calculate()">Calculate!</button>

    <p>Result: {{ res }}</p>

    
    <script>
        angular.module("App", []).controller('Ctrl', function($scope){

            $scope.calculate=function(){

            var n1 = parseFloat($scope.n1);
            var n2 = parseFloat($scope.n2);

                switch ($scope.operator) {
                    case '+':
                        return $scope.res = n1 + n2;
                        
                    case '-':
                        return $scope.res = n1 - n2;
                    
                    case '*':
                        return $scope.res = n1 * n2;
                        
                    case '/':
                        if(n2 == 0)
                            alert ("Error! Division by zero is not allowed.");
                        else    
                            return $scope.res = n1 / n2;
                }
            };
            
        } );

    </script>
</body>
</html>
