<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body ng-controller="Ctrl">
    <h2> Math Functions</h2>

    Enter a no: <input type="number" name="n1" ng-model="n" placeholder="Number">

    Factorial : <button ng-click="calcFact()">Calculate Factorial</button>
    Square : <button ng-click="calcSqr()">Calculate Sqr</button>

    <hr>
    <p> Factorial : {{ fact }}</p>
    <p> Square : {{ sqr }} </p>  
    
    <script>
        angular.module("App", []).controller('Ctrl', function($scope){

            function factorial(n){
                if(n==0 || n==1) {
                        return 1;
                } else{
                        return n * factorial(n-1);
                    }
            }

           
            $scope.calcFact=function(){
                if($scope.n >= 0) {
                    $scope.fact = factorial($scope.n);    
                }else{
                    alert("Please enter valid number");
                }
            };
            
           
            

            $scope.calcSqr=function(){
                $scope.sqr=$scope.n* $scope.n;
            };

        } );

    </script>
</body>
</html>
